.msg-img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 1rem auto;
    
}
    /* Bu sekilde style verirsek hepsi etkilenir  */

/* h1 {
    color: aqua;
} */
        /* specific atama */
/* div div h1 {
    color: aqua;
} */


.msg-h1 {
    color: aqua;
};



